*.a
*.o
*.pyc
*.gen.*
*.out.*

*.egg-info/

__pycache__

.docker_home
.hypothesis
.idea
.mozilla
.mypy_cache/
.pytest_cache/
.vscode
.venv*

build
ccache
dist*/
docs/_build/
emsdk
geckodriver.log
node_modules
dist/
pyodide_build/**/build.log
xbuildenv/
.pyodide-xbuildenv*
pyodide/
venv/

# integration tests
integration_tests/**/build.log
integration_tests/**/.libs
