name: CI

on:
  push:
    branches:
      - main
  pull_request:
    types: [opened, synchronize, reopened, labeled]

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

env:
  FORCE_COLOR: 3
  # Increase this value to reset cache if emscripten_version has not changed
  EMSDK_CACHE_FOLDER: "emsdk-cache"
  EMSDK_CACHE_NUMBER: 0

jobs:
  test:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
      fail-fast: false
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          # include tags so that hatch-vcs can infer the version
          fetch-depth: 0
          # switch to fetch-tags: true when the following is fixed
          # see https://github.com/actions/checkout/issues/2041
          # fetch-tags: true

      - name: Setup Python
        uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6.0.0
        with:
          python-version: "3.12"  # TODO: update to 3.13

      - name: Set up Node.js
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          node-version: "20"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -e ".[test]"

      - name: Run tests
        run: |
          pytest \
            --junitxml=test-results/junit.xml \
            --cov=pyodide-build \
            pyodide_build \
            -m "not integration"

      - name: Upload coverage
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: coverage-no-integration-${{ matrix.os }}
          path: .coverage
          if-no-files-found: error
          include-hidden-files: true

  check-integration-test-trigger:
    name: test-integration-test-trigger
    runs-on: ubuntu-latest
    outputs:
      run-integration-test: ${{ steps.check-integration-test-trigger.outputs.trigger }}

    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          ref: ${{ github.event.pull_request.head.sha }}

      - id: check-integration-test-trigger
        name: Check integration test trigger
        shell: bash
        run: |
          set -e -x

          COMMIT_MSG=$(git log --no-merges -1 --oneline)

          # The integration tests will be triggered on push or on pull_request, when:
          # the commit message contains "[integration]", or
          # if it is pushed to main branch, or
          # if the PR has the "integration" label.
          if [[ "$GITHUB_EVENT_NAME" == push && "$GITHUB_REF" == refs/heads/main ||
                "$COMMIT_MSG" =~ \[integration\] ||
                "${{ contains(github.event.pull_request.labels.*.name, 'integration') }}" == "true" ]]; then
              echo "trigger=true" >> "$GITHUB_OUTPUT"
          fi

  integration-test:
    name: integration-test (${{ matrix.task.name }}, ${{ matrix.task.installer }}, ${{ matrix.pyodide-version }}-pyodide, ${{ matrix.os }})
    runs-on: ${{ matrix.os }}
    needs: [check-integration-test-trigger]
    strategy:
      fail-fast: false
      matrix:
        task: [
            { name: test-recipe, installer: pip },
            { name: test-src, installer: pip },
            { name: test-recipe, installer: uv },
            { name: test-src, installer: uv },
            { name: test-integration-marker, installer: pip }, # installer doesn't matter
          ]
        # os: [ubuntu-latest, macos-latest]  # FIXME: https://github.com/oracle/graal/issues/11855
        os: [ubuntu-latest]
        pyodide-version: [stable]
        include:
        # Run no-isolation tests and Pyodide minimum version testing only
        # for the pip installer and on Linux
          - task: {name: test-src-no-isolation, installer: pip} # installer doesn't matter
            os: ubuntu-latest
          - task: { name: test-recipe, installer: pip }
            os: ubuntu-latest
            pyodide-version: minimum
          - task: { name: test-src, installer: pip }
            os: ubuntu-latest
            pyodide-version: minimum

    if: needs.check-integration-test-trigger.outputs.run-integration-test
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          # include tags so that hatch-vcs can infer the version
          fetch-depth: 0

      - name: Setup Python
        uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6.0.0
        with:
          python-version: "3.13"

      - name: Set up Node.js
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          node-version: "20"

      - name: Install the package
        run: |
          python -m pip install --upgrade pip
          python -m pip install -e ."[test,uv]"

      - name: Install xbuildenv
        run: |
          if [[ "${{ matrix.pyodide-version }}" == "minimum" ]]; then
            MIN_VERSION=$(pyodide xbuildenv search --json | jq -r '.environments | sort_by(.version) | .[0].version')
            echo "Installing Pyodide xbuildenv version: $MIN_VERSION"
            pyodide xbuildenv install $MIN_VERSION
          else
            pyodide xbuildenv install
          fi
          echo EMSCRIPTEN_VERSION=$(pyodide config get emscripten_version) >> $GITHUB_ENV

      - name: Install Emscripten
        run: pyodide xbuildenv install-emscripten

      - name: Get number of cores on the runner
        id: get-cores
        run: echo "CORES=$(nproc)" >> $GITHUB_OUTPUT

      - name: Run tests marked with integration
        if: matrix.task.name == 'test-integration-marker'
        run: |
          source $(pyodide config get pyodide_root)/../../emsdk/emsdk_env.sh
          pytest --junitxml=test-results/junit.xml --cov=pyodide-build pyodide_build -m "integration"

      - name: Run the recipe integration tests (${{ matrix.task.name }})
        if: matrix.task.name != 'test-integration-marker'
        env:
          PYODIDE_JOBS: ${{ steps.get-cores.outputs.CORES }}
        working-directory: integration_tests
        run: |
          source $(pyodide config get pyodide_root)/../../emsdk/emsdk_env.sh
          # https://github.com/pyodide/pyodide-build/issues/147
          # disable package with scikit-build-core
          if [[ ${{ matrix.os }} == "macos-latest" ]]; then
            export RECIPE_BUILD_TARGET="*,!boost-histogram"
          fi

          if [[ "${{ matrix.task.installer }}" == "uv" ]]; then
            export UV_RUN_PREFIX="uv run"
          fi
          make ${{ matrix.task.name }}

      - name: Upload coverage for tests marked with integration
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        if: matrix.task.name == 'test-integration-marker'
        with:
          name: coverage-from-integration-${{ matrix.os }}
          path: .coverage
          if-no-files-found: error
          include-hidden-files: true

  coverage:
    name: Collect and upload coverage
    runs-on: ubuntu-latest
    needs: [test, integration-test]
    steps:
      - uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6.0.0
        with:
          path: coverage_files
          pattern: coverage-*
          merge-multiple: false

      - uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6.0.0
        with:
          python-version: "3.12"

      - name: Combine coverage files
        run: pipx install coverage && coverage combine --append coverage_files/**/.coverage

      - uses: codecov/codecov-action@5a1091511ad55cbe89839c7260b706298ca349f7 # v5.5.1
        with:
          fail_ci_if_error: false
          files: .coverage
